<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<array>
		<dict>
			<key>name</key>
			<string>Brazil</string>
			<key>region</key>
			<string>South America</string>
		</dict>
		<dict>
			<key>name</key>
			<string>USA</string>
			<key>region</key>
			<string>North America</string>
		</dict>
	</array>
	<key>Regions</key>
	<array>
		<dict>
			<key>name</key>
			<string>South America</string>
		</dict>
		<dict>
			<key>name</key>
			<string>North America</string>
		</dict>
	</array>
</dict>
</plist>
